/* VARIAVEIS  */
/* **************** */
/* **************** */
:root {
  --text-color-0: #fff;
  --background-color-0: #000;
  --text-color-1: #000;
  --background-color-1: #fff;
  --burguer-color: #d9d9d9;
  --burguer-color-hover: #fff;
  --focus-ring-color-0: #794cff;
  --focus-ring-color-1: #fff;
  --border-color-0: #d7d7d7;
  --font-family: "Inter", sans-serif; /* Fonte ativa: Inter */
}

/* ESTILOS GERAIS */
/* **************** */
/* **************** */
body {
  display: flex; /* Flexbox para alinhar conteúdo */
  flex-direction: column; /* Alinha o conteúdo na vertical */
  justify-content: center; /* Alinha horizontalmente o conteúdo ao centro */
  align-items: center; /* Alinha verticalmente o conteúdo ao centro */
  height: auto; /* Altura total da página */
  overflow-x: hidden; /* Impede o scroll horizontal */
  overflow-y: auto; /* Permite o scroll vertical */
  background-color: var(--background-color-0);
  color: var(--text-color-0);
  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 100%; /* Tamanho da fonte igual a 16px */
}

/* Estilo do focus de todos os elementos interactivos */
input:focus-visible,
button:focus-visible,
textarea:focus-visible,
select:focus-visible,
a:focus-visible {
  outline: none;
  outline-color: transparent;
  outline-style: none;
  outline-width: 0px;
  box-shadow: inset 0 0 0 2px var(--focus-ring-color-1),
    0 0 0 2px var(--focus-ring-color-0);
}

a {
  color: var(--text-color-0);
  text-decoration: none;
}

.wrapper {
  position: relative;
  min-height: 100%;
}

.main-content {
  display: flex; /* Flexbox para alinhar conteúdo */
  flex-direction: column; /* Alinha o conteúdo na vertical */
  height: 100%;
}

/* ESTILOS SECTIONS */
/* **************** */
/* **************** */

/* Adição de overlay branco com fade-out */
.introduction {
  position: fixed; /* Cobre todo o viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color-1); /* Fundo branco */
  z-index: 100; /* Fica acima de todos os elementos */
  opacity: 1; /* Totalmente opaco no início */
  transition: opacity 2s ease-out; /* Transição suave para transparência */
}

/* Estilo do texto que aparece inicialmente centrado */
.introduction .introduction__text {
  position: absolute;
  width: 60%;
  top: 50%; /* Centraliza verticalmente */
  left: 50%; /* Centraliza horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta o alinhamento central */
  color: var(--text-color-1); /* Texto preto */  
  text-align: center; /* Alinha o texto no centro */
  opacity: 1; /* Totalmente opaco inicialmente */
  transition: opacity 1s ease-out; /* Transição suave para transparência */
}
/* Section Header */
/*****************/
.header {
  position: absolute; /* Permite posicionamento livre */
  top: 3.5rem; /* Espaçamento interno */
  width: 100%; /* Largura total */
  height: auto;
}
/* Estilo do Logo que aparece por cima de tudo no topo */
.header .header__logo {
  /* position: fixed; Fixa o elemento na tela, independentemente do scroll */
  position: absolute; /*  Permite posicionamento livre */
  left: 3.5rem; /* Ajusta a posição à esquerda */
  left: calc(5% + 1rem);
  width: 40px; /* Ajuste conforme necessário */
  height: auto; /* Mantém a proporção */
  z-index: 10; /* Garante que o logótipo fica acima de outros elementos */
}
/* Estilo do texto que aparece na lombada vertical */
.header .header__text {
  /* position: fixed; Fixa o elemento na tela, independentemente do scroll */
  position: absolute; /*  Permite posicionamento livre */
  right: calc(5% + 1rem);
  writing-mode: vertical-rl; /* Orientação do texto na vertical */
  transform: rotate(360deg); /* Ajusta para leitura de cima para baixo */
  font-size: 0.6rem; /* Texto menor que o parágrafo */
  font-weight: 300; /* Peso mais leve para estilo secundário */
  z-index: 10; /* Garante que fica acima de outros elementos */
  letter-spacing: 1px; /* Espaçamento entre letras */
  white-space: nowrap; /* Impede a quebra de texto em espaços */
}

/* Section Hero */
/*****************/

.hero {
  display: flex; /* Flexbox para alinhar conteúdo */
  flex-direction: column; /* Alinha o conteúdo na vertical */
  justify-content: center; /* Alinha o conteúdo verticalmente ao centro */
  align-items: start; /* Alinha horizontalmente o conteúdo ao centro */
  padding: 0 5%; /* Espaçamento interno em torno do conteúdo */
  max-width: 100%; /* Largura total */
  height: fit-content;
  min-height: 100vh;
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.6) 60%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("../assets/background.png"); /* Caminho para a imagem de fundo */
  background-size: cover; /* Faz com que a imagem cubra todo o contêiner */
  background-position: center; /* Centraliza a imagem de fundo */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  position: relative; /* Garante posicionamento adequado */
}

.hero::before {
  content: ""; /* Elemento pseudo para o vídeo */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3; /* (-1 ou -3) Elemento pseudo para o vídeo */
  background: url("../assets/background.png") no-repeat center center / cover; /* Imagem de fallback */
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Faz com que o vídeo ocupe toda a área */
  z-index: -2; /* (-1 ou -2) Envia para trás do conteúdo */
  display: block; /* (none ou simplesmente comentar) Garante que o vídeo seja exibido */
}

.hero .hero__wrapper {
  display: flex; /* Flexbox para alinhar conteúdo */
  flex-direction: column; /* Alinha o conteúdo na vertical */
  padding: 1rem;
  margin-top: 164px;
  width: 100%;
}

.hero .hero__title {
  margin-bottom: 1.5rem;
}

.hero .burger-menu {
  position: relative;
  display: block;
  background-color: transparent;
  pointer-events: visible;
  cursor: pointer;
  margin-top: 3rem;
}

.hero .burger-menu span {
  display: block;
  height: 0.1875rem;
  width: 3rem;
  background-color: var(--burguer-color);
  margin: 0 auto;
  margin-bottom: 6px;
  border-radius: 2px;
  transition: 0.3s ease;
}

.hero .burger-menu span:last-child {
  margin-bottom: 0;
}

/* Efeito ao passar o mouse */
.hero .burger-menu:hover span {
  background-color: var(--burguer-color-hover);
}

/* Section List */
/*****************/
.list {
  background-color: var(--text-color-0);
  color: var(--background-color-0);
  padding: 0 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*margin-top: 1rem; */
}

.list .list__nav {
  display: flex;
  display: flex; /* Flexbox para alinhar conteúdo */
  flex-direction: column; /* Alinha o conteúdo na vertical */
  padding: 5.5rem 3.5rem;
  width: 100%;
}

.list .list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  color: var(--text-color-1);
  background-color: transparent;
  text-decoration: none;
  border-bottom: 0.125rem solid var(--border-color-0);
  transition: opacity 0.3s ease;
}
.list .list__item:last-child {
  border-bottom: none;
}

.list .list__item:hover {
  opacity: 0.55;
}

/* Section Contact */
/*****************/
.contact {
  padding: 4rem 1rem 0rem 1rem; /* Espaçamento interno */
  background-color: var(--background-color-0); /* Fundo preto */
  color: var(--text-color-0); /* Texto branco */
  text-align: center;
}

.contact .contact__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 5%;
  border-bottom: 0.125rem solid rgba(255, 255, 255, 0.24);
}

.contact .contact__title {
  margin-bottom: 1rem;
}

.contact .contact__subtitle {
  margin-bottom: 2rem;
}

.contact .contact__button {
  display: inline-block;
  padding: 1.75rem 4.5rem;
  background-color: rgba(255, 255, 255, 0.16);
  color: var(--text-color-0);
  text-decoration: none;
  border-radius: 72px;
  transition: all 0.3s ease;
  margin-bottom: 5.5rem;
}

.contact .contact__button:hover {
  background-color: rgba(255, 255, 255, 0.26);
}
/* Section Contact */
/*****************/

.footer {
  padding: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}

.footer .footer__wrapper {
  max-width: 80%;
  margin: 0 auto; /* Centraliza o conteúdo */
  text-align: center; /* Alinha o texto ao centro */
}

.footer .footer__text {
  margin-bottom: 4rem;
}

.footer .footer__logo {
  width: 150px; /* Tamanho do logotipo */
  height: auto; /* Mantém a proporção */
  margin: 0 auto; /* Espaço acima e abaixo */
  margin-bottom: 4rem;
}

.footer .footer__social-icons {
  display: flex;
  justify-content: center;
  gap: 1.5rem; /* Espaçamento entre os ícones */
  margin-top: 1rem;
}

.footer .footer__social-icon {
  position: relative;
  width: 4.5rem; /* Placeholder para o ícone */
  height: 4.5rem; /* Placeholder para o ícone */
  background-color: rgba(
    255,
    255,
    255,
    0.16
  ); /* Fundo placeholder cinza escuro */
  color: var(--text-color-0); /* Texto placeholder branco */
  border-radius: 50%; /* Torna os ícones redondos */
  text-decoration: none; /* Remove o sublinhado */
  transition: all 0.3s ease;
}

.footer .footer__social-icon:hover {
  background-color: rgba(255, 255, 255, 0.26);
}

.footer .footer__social-icon img {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 1.6875rem; /* Tamanho da imagem */
  height: auto; /* Mantém a proporção */
}

/* ESTILOS RESPONSIVOS */
/***********************/
/* Mobile first strategy */
/* XL: 1366px (Large desktops)
L: 1024px (Small desktops and tablets)
M:  768px (Tablets)
S: 480px (Mobile phones and other small devices) */

/* override p/ tablets e desktop */
@media (min-width: 768px) {
  .header .header__logo {
    left: 3.5rem;
  }
  .header .header__text {
    right: 5%;
  }
  .hero {
    height: 100vh;
  }
  .hero .hero__wrapper {
    margin-top: 0;
    padding: 3.5rem;
    max-width: 100%;
  }
  .hero .burger-menu {
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    height: 30px;
    transform: translateX(-50%);
  }
}

/* override p/ ecrãs ainda maiores */
@media (min-width: 1366px) {
  .hero .hero__wrapper {
    max-width: 90%;
  }
}
