/* Title Large */
.title-large {
  font-weight: 700; /* Bold */
  font-size: clamp(1.5rem, 4vw, 2.5rem); /* Tamanho fluido entre 28px e 40px */
  line-height: clamp(2rem, 5vw, 3.5rem); /* Linha fluida entre 40px e 56px */
}

/* Title */
.title {
  font-weight: 700; /* Bold */
  font-size: clamp(1.25rem, 3vw, 1.75rem);
  line-height: clamp(1.5rem, 4vw, 2.5rem);
}

/* Title Small */
.title-small {
  font-weight: 700; /* Bold */
  font-size: clamp(1.125rem, 2.5vw, 1.5rem);
  line-height: clamp(1.25rem, 3vw, 2.5rem); 
}

/* Body */
.body {
  font-weight: 400; /* Regular */
  font-size: 1.125rem;
  line-height: clamp(1.5rem, 2vw, 2rem);
}

/* Body Small */
.body-small {
  font-weight: 400; /* Regular */
  font-size: 16px; /* Font size */
  line-height: 24px; /* Line height */
}
